/* Reset e estilos globais */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Estilos específicos para certos elementos */
.inputs-block,
.results-block,
.inputs-block__field-container,
.inputs-block__field-container input {
    box-sizing: border-box;
}

/* Estilos básicos para html e body */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #ffffff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

/* Estilos do container principal */
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/* Estilo do background */
#background {
    background-color: #9dc2e3;
}

/* Estilos para os campos de entrada */
.inputs-block__field--term-interest {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.term,
.interest {
    width: 100%;
}

/* Estilos para os containers dos campos de entrada */
.inputs-block__field-container {
    display: flex;
    background-color: #dbeeff;
    border: 1px solid #9dc2e3;
    margin-bottom: 15px;
    width: 100%;
    overflow: hidden;
}

.inputs-block__field-container input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #ffffff;
}

/* Estilos para a unidade nos campos de entrada */
.inputs-block__field-container .unit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: #dbeeff;
    color: #467192;
    font-size: 1rem;
    font-weight: bold;
}

/* Estilo específico para o campo de valor da hipoteca */
.inputs-block__field-container .currency-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: #dbeeff;
    color: #467192;
    font-size: 1rem;
    font-weight: bold;
}

/* Estilos para o bloco de entradas */
.inputs-block {
    background-color: #ffffff;
    font-size: 16px;
    color: #0d2e47;
    padding: 30px;
    border-radius: 10px;
    min-height: 600px;
    border-radius: 20px 0 0 20px;
}

.inputs-block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilos para os campos de prazo e taxa de juros */
.inputs-block__field-term-interest-container {
    display: flex;
    gap: 20px;
}

.term,
.interest {
    flex: 1;
}

/* Estilos para o campo de tipo de hipoteca */
.inputs-block__field--mortgage-type fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputs-block__field--mortgage-type legend {
    margin-bottom: 10px;
    color: #467192;
}

.inputs-block__field--mortgage-type .radio-group {
    margin-bottom: 10px;
    border: 1px solid #9dc2e3;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: #467192;
    background-color: #ffffff;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 5px;
}

.inputs-block__field--mortgage-type .radio-group:hover {
    background-color: #f0f8ff;
}

.inputs-block__field--mortgage-type .radio-group:has(input:checked) {
    background-color: #dce91e56;
    border-color: #dce91e;
}

.inputs-block__field--mortgage-type input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #9dc2e3;
    border-radius: 50%;
    margin-right: 10px;
    transition: border-color 0.3s, background-color 0.3s;
    position: relative;
}

.inputs-block__field--mortgage-type input[type="radio"]:checked {
    border-color: #dce91e;
    border-color: #dce91e;
    background-color: #dce91e56
}

.inputs-block__field--mortgage-type input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: #dce91e;
}

.inputs-block__field--mortgage-type .radio-group:has(input:checked) input[type="radio"] {
    border-color: #dce91e;
}

/* Estilos para o botão de calcular */
.calculate-button {
    margin-top: 20px;
    font-family: plus-jakarta-sans, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #dce91e;
    color: #0d2e47;
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    width: 60%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculate-button:hover {
    background-color: #71a2c1;
    color: #ffffff;
}

/* Estilos para o bloco de resultados */
.results-block {
    padding: 30px;
    background-color: #467192;
    color: #ffffff;
    border-radius: 0 20px 20px 40px;
    min-height: 600px;
}

.results-block__results-box {
    background-color: #dbeeff;
    border-radius: 8px;
    padding: 20px;
    border-top: 10px solid #dce91e;
    background-color: #0e2e46;
}

.results-block__results-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #dce91e;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.results-block h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.results-block p {
    color: #9dc2e3;
    margin-bottom: 20px;
}

.result-item {
    margin-bottom: 20px;
}

.result-item label {
    display: block;
    color: #9dc2e3;
    margin-bottom: 5px;
}

.result-item output {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color: #dce91e;
}

#TotalRepayments {
    border-top: 2px solid #9dc2e3;
    padding-top: 20px;
    margin-top: 20px;
}

/* Estilos para tratamento de erros */
.error {
    border-color: #e03131 !important;
}

.error-message {
    color: #e03131;
    font-size: 0.8rem;
    margin-top: 5px;
    display: none;
}

/* Estilos para o bloco de resultados antes do cálculo */
.results-block__pre-calculate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

/* Estilos de foco para acessibilidade */
input:focus,
button:focus,
a:focus {
    outline: 2px solid #dce91e;
    outline-offset: 2px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.results-block__post-calculate {
    animation: fadeIn 0.5s ease-in-out;
}

/* Estilos para a atribuição (rodapé) */
.attribution {
    font-size: 11px;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 10px;
    padding: 10px;
    margin-bottom: 40px;}

/* Media queries para responsividade */
/**
 * Small screen size
 */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

/**
 * Medium screen size
 */
@media (min-width: 1240px) {
    .container {
        max-width: 1200px;
    }
}

/**
 * Extra small screen size
 */
@media (max-width: 767px) {
    .container {
        padding: 10px;
    }

    .inputs-block,
    .results-block {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .inputs-block {
        border-radius: 20px 20px 0 0;
    }

    .results-block {
        border-radius: 0 0 20px 20px;
    }
}

/**
 * Small screen size
 */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: stretch;
    }

    .inputs-block,
    .results-block {
        flex: 1;
        width: 50%;
    }

    .inputs-block {
        border-radius: 20px 0 0 20px;
        box-shadow:
            0 -8px 10px -5px rgba(0, 0, 0, 0.1),
            /* Topo */
            -8px 0 10px -5px rgba(0, 0, 0, 0.1),
            /* Esquerda */
            0 8px 10px -5px rgba(0, 0, 0, 0.1),
            /* Embaixo */
            5px 0 10px -5px rgba(0, 0, 0, 0);
        /* Direita */
    }

    .results-block {
        border-radius: 0px 20px 20px 80px;
    }
}

/**
 * Medium screen size
 */
@media (min-width: 768px) {
    .inputs-block__field--term-interest {
        flex-direction: row;
    }

    .term,
    .interest {
        width: calc(50% - 10px);
    }
}